// Colors
// ======

// Black to white
$black: rgb(0, 0, 0);
$en-black: rgb(20, 20, 20);
$text-gray: rgb(102, 102, 102);
$border-gray: rgb(204, 204, 204);
$background-gray: rgb(245, 245, 245);
$white: rgb(255, 255, 255);

// Graphic color scheme
$red: rgb(177, 33, 37);
$light-red: rgb(220, 139, 106);
$dark-blue: rgb(62, 103, 176);
$blue: rgb(68, 171 , 223);
$yellow: rgb(252, 193, 15);
$light-yellow: rgb(252, 229, 152);
$teal: rgb(55, 157, 146);
$light-teal: rgb(155, 206, 200);
$violet: rgb(116, 46, 102);
$light-violet: rgb(153, 61 , 136);
$gunmetal: rgb(76, 90, 105);
$light-metal: rgb(146, 154, 163);
$copper : rgb(141 , 111 , 43);
$camel: rgb(217, 153, 40);
$tan: rgb(239, 209, 160);
$purple: rgb(159, 130, 187);
$lavender : rgb(231 , 222, 238);
$orange: rgb(255, 127, 14);
$light-orange: rgb(255, 187, 120);
$forest-green: rgb(82, 98, 71);
$grey-green: rgb(184, 191 , 180);
$light-green: rgb(122, 145, 107);
$light-blue: rgb(180, 221 , 242);
$dark-olive: rgb(89, 87, 72);
$light-grey: rgb(207, 204, 199);

// Political colors
$dem-blue: rgb(23, 117, 174);
$rep-red: rgb(214, 73, 70);
